---
---
<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include resources.html %}
    <style>
      @media (min-width: 992px) {
        .jumbotron > div > .col-md-3 {
          padding-left: 10vw;
        }
      }
      .jumbotron > .container {
        text-align: center;
      }
      .jumbotron > .container > .col-md-3 > img {
        height: 35vh;
      }
    </style>
  </head>
  <body>
    {% include nav-chn.html %}

    <div class="jumbotron">
      <div class="container">
        <div class="col-md-3">
          <img src="/zhu-obgyn/images/zhu-ling.JPG">
        </div>
        <div class="col-md-9">
          <h1>朱玲妇产科诊所</h1>
          <p>
            <strong>地址</strong>: 纽约布碌仑58街730号<br>
            <strong>电话</strong>: （347）3820338<br>
            <strong>获得妇女健康知识，请加入我们的微信</strong>： lingzhu1<br>
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <h1></h1>
      <div><h2></h2></div>
      <p></p>
      <div><h2></h2></div>
      <p></p>
    </div>

    {% include footer-chn.html %}
  </body>
</html>
