
    <nav class="navbar navbar-default" role="navigation" id="nav" style="border-color:#d8d8d8;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="nav-li"><a href="https://livingprogram.github.io/zhu-obgyn/contact-me/" class="special-hover">联系我</a></li>
          </ul>
        </div>
      </div>
    </nav>
