.footer-top {
  height: auto;
  width: 100%;
  border-top: 3px solid #2b89bf;
}
.footer-top > div {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(to bottom, #f8f8f8 21%, #c3c2c2 117%);
}
.footer-color-black {
  background-color: #0d4c70;
  color: #999;
}
.footer nav > ul {
  font-size: 16px;
  list-style: none;
  padding: 0;
}
.footer nav > ul li:first-child {
  margin-left: 0;
}
.footer nav > ul li {
  margin-left: 20px;
  float: left;
}
.footer nav > ul a {
  padding: 10px 0px;
  margin: 15px 10px 15px 0px;
  display: block;
  color: #999;
  font-size: 19px;
}
.footer .center-text {
  padding: 10px 15px;
  margin: 15px 3px;
  text-align: center;
}
