      @media (min-width: 992px) {
        .jumbotron > div > .col-md-3 {
          padding-left: 10vw;
        }
      }
      .jumbotron > .container {
        text-align: center;
      }
      .jumbotron > .container > .col-md-3 > img {
        height: 35vh;
      }

      .jumbotron {
        background-color: #1367a7;
        margin-bottom: 0;
        color: white;
      }

      @media (max-width: 544px) {
      .jumbotron > .container > .col-md-3 > img {
        height: 23vh;
      }
      .contact-info > h1 {
        font-size: 16px
      }
      .contact-info > p {
        font-size: 10px;
      }
    }
