<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include resources.html %}
    <title>{{ page.title }}</title>
    <style>
      .main-content > h1 {
        font-weight: 600;
        font-size: 28px;
      }
      .main-content > h2 {
        color: white;
        margin-top: 10px;
      }
      .main-content > p {
        font-size: 19px;
      }
      .main-content {
        margin-bottom: 30px;
      }
    </style>
  </head>
  <body>
    {% include jumbotron-chn.html %}
    {% include nav-chn.html %}
    
    <div class="container main-content">
      {{content}}
    </div>

    {% include footer-chn.html %}
  </body>
</html>
